image:
  repository: gcr.io/prysmaticlabs/prysm/beacon-chain
  tag: latest
  pullPolicy: IfNotPresent

containerArgs:
  - --config-file
  - /data/config/prysm-beacon.yaml

config:
  datadir: /data
  p2p-tcp-port: 13000
  monitoring-port: 8080
  log-file: /data/beacon.log
  verbosity: info

storage:
  capacity: 20Gi

resources:
  limits:
    memory: 8Gi
  requests:
    memory: 4Gi

affinity: {}
