image:
  repository: gcr.io/prysmaticlabs/prysm/beacon-chain
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

containerArgs:
  - --config-file
  - /data/config/prysm-beacon.yaml

config:
  datadir: /data
  p2p-tcp-port: 13000
  monitoring-port: 8080
  log-file: /data/beacon.log
  verbosity: info

storage:
  capacity: 20Gi

resources:
  limits:
    memory: 8Gi
  requests:
    memory: 4Gi

affinity: {}



slasher:
  enabled: false

  image:
    repository: gcr.io/prysmaticlabs/prysm/slasher
    tag: latest
    pullPolicy: IfNotPresent


  args:
    - --beacon-rpc-provider=prysm-beacon:4000
    - --datadir=/data
    - --rpc-host=0.0.0.0
    - --monitoring-host=0.0.0.0

  storage:
    capacity: 3Gi

  ports:
    metrics: 8082
    rpc: 4002

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi